CONFIG_DEBUG_KERNEL=y
CONFIG_DEBUG_LL=y
CONFIG_DEBUG_SUNXI_UART0=y
CONFIG_EARLY_PRINTK=y
CONFIG_SUN8I_DE2_CCU=y
CONFIG_DRM_SUN8I_DW_HDMI=y
CONFIG_DRM_LIMA=m
CONFIG_SND_SUN8I_CODEC_ANALOG=y
CONFIG_REGULATOR_SY8106A=y
CONFIG_DEVFREQ_GOV_SIMPLE_ONDEMAND=y
CONFIG_DEVFREQ_GOV_PERFORMANCE=y
CONFIG_DEVFREQ_GOV_POWERSAVE=y
CONFIG_DEVFREQ_GOV_USERSPACE=y
CONFIG_DEVFREQ_GOV_PASSIVE=y
CONFIG_PM_DEVFREQ_EVENT=y

# File-Based-Encryption require AES XTS hardware crypto, which isn't available for sunxu, use ADIANTUM (fast software impl,) instead 
CONFIG_CRYPTO_ADIANTUM=y
CONFIG_CRYPTO_AES_ARM=y
CONFIG_CRYPTO_CHACHA20_NEON=y
CONFIG_CRYPTO_NHPOLY1305_NEON=y

CONFIG_WLAN_VENDOR_QUANTENNA=y
CONFIG_SPARD_WLAN_SUPPORT=y
CONFIG_AW_WIFI_DEVICE_UWE5622=y
CONFIG_AW_BIND_VERIFY=y
# end of UNISOC WCN Device Drivers(for new chip...)

CONFIG_WLAN_UWE5622=m
CONFIG_SPRDWL_NG=m
CONFIG_UNISOC_WIFI_PS=y
CONFIG_TTY_OVERY_SDIO=m
# CONFIG_MAC80211_HWSIM is not set
CONFIG_USB_NET_RNDIS_WLAN=m
CONFIG_VIRT_WIFI=m
